button{
    color: blue;
    margin: 20px;
    font-size: 20px;
    padding: 25Px;
}
input{
    padding: 10px;
    width: 300px;
    border: 1px solid black;
    box-shadow: 2px 4px 10px blue ;
    border-radius: 30px;
   display: block;
}
label{
    font-size: 25px;
}
body{
  background-image: url(./IMG/background\ tof.jpg);
  background-size: 500px ;
  background-repeat :repeat;
 
 
  
}

h1 {
    font-size: 50  px;
    color :blue;
}
